<% @categories.each do |category| %>
  <%= link_to category.title, category_path(category) %>
<% end %>

<% @items.each do |item| %>
 <% if item.in_stock? %>
    <p><%= render :partial => 'items/item', :locals => {item: item} %></p>
  <% end %>
<% end %>
